{% extends "layout.html" %}
{% block title %} product_list {% endblock  %}
{% block content %}
<h1 class="text-center">Products</h1>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Product Id</th>
            <th>Name</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.supplier }}</td>
            <td>
                <a href="{% url 'update_view' product.product_id %}" class="btn btn-danger">update</a>
                <a href="{% url 'product_delete' product.product_id %}" class="btn btn-primary">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
 </table>
</table>

{% endblock  %}